In [1]:
import pandas as pd
from common import DOWNSTREAM_DIR

df = pd.read_csv(DOWNSTREAM_DIR / 'output_3.csv')
df

,timestamp,ip,port,client,username,password
0,2024/02/18 15:30:02.017736,111.209.139.126,10157,NaN,NaN,NaN
1,2024/02/18 15:30:39.309677,111.209.139.126,4811,NaN,NaN,NaN
2,2024/02/18 15:30:44.105633,111.209.139.126,4811,SSH-2.0-OpenSSH_for_Windows_8.6,root,test
3,2024/02/18 15:30:46.312784,111.209.139.126,4811,SSH-2.0-OpenSSH_for_Windows_8.6,root,111
4,2024/02/18 15:30:49.190240,111.209.139.126,4811,SSH-2.0-OpenSSH_for_Windows_8.6,root,hia
...,...,...,...,...,...,...
203613,2025/03/08 06:16:00.300680,172.105.128.11,42824,NaN,NaN,NaN
203614,2025/03/08 06:16:01.692440,172.105.128.11,42840,NaN,NaN,NaN
203615,2025/03/08 08:06:02.519125,176.113.115.137,64001,NaN,NaN,NaN
203616,2025/03/08 08:35:53.760720,154.212.141.163,59206,NaN,NaN,NaN
203617,2025/03/08 08:35:54.364901,154.212.141.163,59382,NaN,NaN,NaN

In [2]:
usernames = df['username'].value_counts()
usernames = usernames[usernames >= 5]
usernames

username
root        50969
ubuntu        821
admin         735
user          634
aaa           502
            ...
anand           5
erp             5
sftpuser        5
nisec           5
jboss           5
Name: count, Length: 205, dtype: int64

In [3]:
passwords = df['password'].value_counts()
passwords = passwords[passwords >= 5]
passwords

password
123456          2752
123              527
1234             233
password         228
12345678         223
                ...
jupiter            5
qweqwe             5
vyos               5
Aa123456!          5
c4h?itwj5ENi       5
Name: count, Length: 463, dtype: int64

In [4]:
df_auth = (
    df
    .groupby(['username', 'password'])
    .size()
    .reset_index(name='count')
    .sort_values('count', ascending=False)
)
df_auth

         username password  count
10496        root   123456    165
39246        root     root     51
46085      ubuntu   123456     45
45589        test     test     41
783         admin    admin     38
...           ...      ...    ...
6      1q2w3e,./?       ><      1
7               2        2      1
8            2345        6      1
9            3333     3333      1
10          Aarni    Aarni      1

[47792 rows x 3 columns]

In [5]:
clients = df['client'].value_counts()
clients = clients[clients >= 5]
clients

client
SSH-2.0-Go                              45649
SSH-2.0-libssh_0.9.6                    16566
SSH-2.0-libssh2_1.11.0                   1400
SSH-2.0-libssh_0.7.4                     1000
SSH-2.0-libssh2_1.7.0                     293
SSH-2.0-libssh2_1.9.0                     276
SSH-2.0-makiko                            257
SSH-2.0-libssh2_1.4.3                     219
SSH-2.0-libssh_0.10.5                     149
SSH-2.0-libssh2_1.10.0                    108
SSH-2.0-phpseclib_1.0 (openssl, gmp)       90
SSH-2.0-phpseclib_1.0 (openssl)            81
SSH-2.0-libssh_0.9.5                       72
SSH-2.0-Go root                            50
SSH-2.0-OpenSSH_7.4                        24
SSH-2.0-OpenSSH                            12
SSH-2.0-libssh-0.6.0                        6
SSH-2.0-Go ubuntu                           5
Name: count, dtype: int64

In [6]:
ips = df['ip'].value_counts()
ips = ips[ips >= 5]
ips

ip
218.0.55.157       46203
186.53.130.195     24077
116.128.230.184     7167
62.25.85.233        5495
177.234.178.105     5390
                   ...
104.152.52.40          5
167.94.145.103         5
194.169.175.35         5
45.55.40.172           5
134.41.50.122          5
Name: count, Length: 1219, dtype: int64

In [7]:
from common import OUTPUT_DIR

fields = ['usernames', 'passwords', 'clients', 'ips']
for field in fields:
    with open(OUTPUT_DIR / f'{field}.txt', 'w', encoding='utf-8') as file:
        for value in eval(f'{field}.index'):
            file.write(f"{value}\n")